* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Indie Flower', cursive;
  font-weight: 900;
  height: 1vh;
  background: linear-gradient(
    308deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(156, 53, 119, 1) 100%
  );
}

h1.title {
  font-size: 3.5rem;
  text-transform: uppercase;
  margin-top: 40px;
  margin-left: 10%;
  text-align: center;
}

main {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 20px;
}

section.controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #cad2c5;
  box-shadow: 0 0 25px 0px #24031b;
  border: black solid 2px;
  padding: 20px 30px;
  border-radius: 50px;
  position: relative;
  bottom: 80px;
}

section.grid {
  width: 500px;
  height: 500px;
  background-color: #8338ec;
  border: black solid 1px;
  box-shadow: 0 0 25px 0px #24031b;
  display: grid;

  cursor: pointer;
  margin-top: 20px;
}

div.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  margin-top: 50px;
}

button {
  width: 100px;
  height: 50px;
  border: none;
  border-radius: 30px;
  background-color: #d90429;
  color: #cad2c5;
  cursor: pointer;
}

button.active {
  border: black solid 3px;
}

div.color-picker {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  text-align: center;
}

div.round {
  width: 50px;
  height: 50px;
  border-radius: 650px;
  overflow: hidden;
  margin: auto;
}

input#pen,
input#bg {
  width: 200%;
  height: 200%;
  padding: 0;
  border: 0;
  border-radius: 50px;
  cursor: pointer;
  transform: translate(-25%, -25%);
}

label[for='pen'],
label[for='bg'] {
  margin-top: 10px;
  font-size: 1.1rem;
}

div.sliders {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 1.1rem;
}

div.col-slider,
div.row-slider {
  display: flex;
  flex-direction: column;
}

div.gridEl {
  border: #023047 solid 1px;
}

footer {
  margin-bottom: 20px;
  padding-bottom: 0;
  text-align: center;
  font-family: sans-serif;
  font-weight: 500;
}

footer p {
  display: inline-block;
  margin-right: 5px;
}

.github-link {
  color: #333;
  width: 1rem;
  transition: transform 0.3s ease-in-out;
}

.github-link:hover {
  transform: rotate(359deg) scale(1.2);
}
